<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.simbirsoft.timemeter"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity_"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.base.FragmentContainerActivity_"
            android:exported="false"/>

        <activity
            android:name=".ui.base.DialogContainerActivity_"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.settings.SettingsActivity_"
            android:exported="false"/>

        <service
            android:name=".service.TimeWorkerService"
            android:label="@string/label_service_worker"
            android:exported="false"/>

        <service
            android:name=".service.ScreenLockWatcherService"
            android:label="@string/label_service_screen_lock_watcher"
            android:exported="false"/>

        <receiver
            android:name=".receiver.NotificationUpdateReceiver"
            android:label="@string/label_receiver_notification_update"
            android:exported="false"/>

        <receiver android:name=".receiver.StopTaskActivityReceiver"
            android:exported="false"/>

        <receiver android:enabled="true" android:name=".receiver.BootUpReceiver"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
